.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #ffe9c5 0%, #eb6383 100%);
}

.c-search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-search-bar {
  width: 50%;
  border: 0;
  padding: 10px;
  display:flex;
  align-items: center;
}

.c-search-button {
  background: black;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-size:15px;
  font-weight: bold;

  &:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    transition-delay: 0.1s;
    border: 1px solid black;

  }
}

.c-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}